input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 

	.creatuimg img{
	height: 100%!!important;
	width: 100%!important;
	object-fit: contain!important;
}

.note-editor.note-frame .note-editing-area .note-editable{
	height: 200px;
}
}

.ui-datepicker { 
  margin-left: 100px;
  z-index: 1000;
}



